body {
  background-color: #c0c0c0;
  font-family: monospace;
  font-size: 1.2em;
  font-weight: bold;
}
div {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
h1 {
  font-size: 40px;
  text-align: center;
  font-weight: normal;
  margin-top: 20px;
}
label {
	display: inline;
	margin-right: 50px;
	margin-left: 50px;
}
form {
  margin: auto;
}
legend {
  text-align: center;
  text-decoration: underline;
fieldset {
	border: none;
	padding: 25px;
}
input[type="submit"] {
	width: 15%;
	padding: 15px;
	margin-top: 10px;
	font-size: 25px;
	background-color: white;
	border-radius: 8px;
	border: 10px solid gray;
}
input[type="submit"]:hover {
	background-color: lightblue;
	cursor: pointer;
}
input[type="text"], select {
	width: 10%;
	padding: 10px;
	font-size: 15px;
	border: 2px solid gray;
	border-radius: 5px;
}
@media only screen and (max-width:480px) {
	form {
	  max-width: 100%;
	  background-color: light blue;
	  font-size: 9em;
	}
}