body {
  background-color: #c0c0c0;
  font-family: monospace;
}
div {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
h1 {
  font-size: 40px;
  text-align: center;
  font-weight: normal;
}
legend {
  text-align: center;
  font-weight: heavy;
}
@media only screen and (max-width:480px) {
	form {
	  max-width: 100%
	}
}